body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  margin: 0 auto;
  border: dotted 1px rgb(67, 92, 3);
  width: 90%;
  height:150px;
}

footer {
  margin: 0 auto;
  border: dotted 1px rgb(67, 92, 3);
  width: 90%;
  height:50px;
}

article {
  margin: 0 auto;
  border: dotted 1px rgb(67, 92, 3);
  width: 90%;
  height:500px;
}

.showPanel {
  margin: 0 auto;
  border: dotted 1px rgb(67, 92, 3);
  width: 90%;
  height:500px;
}

.sendPanel {
  margin: 0 auto;
  border: dotted 1px rgb(67, 92, 3);
  width: 90%;
  height:50px;
}
